SYMBOL=BTCUSDT

# FVG
FVG_MIN_GAP=60

# RSI
RSI_PERIOD=14
RSI_OVERBOUGHT=79
RSI_OVERSOLD=30

# Lark
LARK_APP_ID=cli_xxx
LARK_APP_SECRET=xxx
LARK_BASE_URL=https://open.larksuite.com
LARK_USER_ID_TYPE=open_id
LARK_URGENT_USER_IDS=ou_xxx,ou_yyy
